# Application IP and Port to listen
HOST=127.0.0.1
PORT=3000

# Set default language
I18N_DFLT_LANG=en

# CRX conversion options
CRX_SRC_URL=https://clients2.google.com/service/update2/crx?response=redirect&prodversion=49.0&x=id%3D***%26installsource%3Dondemand%26uc
CRX_MAX_SIZE=20971520

# Secret key used generate token
SECRET=YourSecretToken

