.box{
    background: #ffffff;
    box-shadow: 0px 1px 1px 0px $light-grey;
    border-radius: 4px;
    overflow: hidden;

    .box-header,
    .box-body,
    .box-footer{
        margin: 15px 15px;
    }
}

.warning-msg-box{
    margin-top: 50px;
    margin-top: 5vh;

    .warning-msg-more{
        display: block;
        text-align: center;
        text-decoration: none;
        padding: 15px;
        background: #fbfbfb;
    }

    .warning-msg-collapsible{
        overflow: hidden;
        max-height: 0px;
    }

    &.open .warning-msg-collapsible{
        overflow: visible;
        max-height: none;
    }
}