.faq{
    background: #ffffff;
    box-shadow: 0px 1px 1px 0px $light-grey;
    border-radius: 4px;
    margin-top: 50px;
    margin-top: 5vh;
    overflow: hidden;
}

.faq-box,
.faq-intro{
    border-bottom: 1px solid $light-grey;
}

.faq-box.open .faq-answer{
    display: block;
}

.faq-intro{
    padding: 10px 15px;
}

.faq-question,
.faq-answer{
    margin: 10px 15px;
}

.faq-question{
    font-size: initial;
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}

.faq-answer{
    font-size: 0.9em;
    display: none;
}