.faq-box,
.faq-intro{
    border-bottom: 1px solid $light-grey;
}

.faq-box:last-of-type{
    border-bottom: none;
}

.faq-box.open .faq-answer{
    display: block;
}

.faq-intro{
    padding: 10px 15px;
}

.faq-question,
.faq-answer{
    margin: 10px 15px;
}

.faq-question{
    font-size: inherit;
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}

.faq-answer{
    font-size: 0.9em;
    display: none;
}