html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

body{
    margin: 0;
    padding: 0;
    background: #f7f7f7;
    color: #697582;
}

p{
    margin: 1em 0;
    line-height: 1.6;
}

a{
    color: $primary;
}

h1,
h2,
h3{
    margin: 0;
    color: $primary;
    font-weight: 400;
}

h1{
    font-size: 2.8em;
    margin-bottom: 0.5em;
}

h1 small{
    font-size: 0.7em;
    color: $primary;
}

h1 a{
    text-decoration: none;
}

h2{
    font-size: 1.6em;
    font-weight: 400;
    margin-bottom: 0.5em;
}

input{
    outline: none;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid $light-grey;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.container{
    width: 790px;
    margin: 0 auto;
}

.container-centered{
    margin: 120px 0;
    margin: 12vh 0; 
}

.header{
    text-align: center;
}

.introduction{
    font-size: 1.3em;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 15px;
    text-align: center;
}