// Main colors
$primary: #68b5db;
$text: #697582;
$text-lighter: #9ca6b1;

// Notifications colors
$success: #4ad879;
$warning: #ff9800;
$danger: #d94949;

// Gray gradients
$light-grey: rgba(0, 0, 0, 0.1);