<div class="warning-msg-box box">
    <h2 class="box-header">L'installation de l'extension ne marche pas ? Lisez ceci !</h2>
    <div class="box-body">
        <p>Depuis la version 53 de Firefox, l'installation d'une extension convertie depuis Foxify est devenu compliqué. Une solution est donnée ci-dessous.</p>
    </div>
    <div class="warning-msg-collapsible">
        <div class="box-body">
            <p><b>Pour des raisons de sécurité, Firefox bloque désormais les extensions non signées / non vérifiées</b> ce qui est normal dans notre cas puisque l'extension est convertie et téléchargée depuis Chrome Web Store.</p>
            <p>Vous trouverez ici la solution à ce problème mais l'installation est différente selon la version de Firefox que vous utilisez.</p>
            <ul>
                <li><a href="#use-mozilla-firefox">Vous utilisez Mozilla Firefox</a></li>
                <li><a href="#use-mozilla-firefox-nightly-or-developer">Vous utilisez Mozilla Firefox Developer Edition / Nightly Edition</a></li>
            </ul>

            <h2 id="use-mozilla-firefox">Vous utilisez Mozilla Firefox</h2>
            <p>
                <b>L'installation des extensions est désormais temporaire</b> pour des raisons de sécurité imposé par Mozilla. Nous vous conseillons d'installer <b>Firefox Nightly</b> ou <b>Firefox Developer Edition</b> pour installer de manière permanente votre extension.
            </p>     
            <p>Sinon, suivez ces étapes :</p>
            <ol>
                <li>Cliquez sur ce lien : <a href="/?force_dl=true">https://www.foxify.org/?force_dl=true</a> <i>(Cela permet de forcer le téléchargement au lieu de lancer l'installation)</i></li>
                <li>Sélectionnez <b>"Convertir pour Firefox"</b> puis cliquez sur <b>Télécharger</b></li>
                <li>Dans la barre du navigateur : <b>☰ > Modules complémentaires > ⚙ > Déboguer des modules > Charger un module complémentaire</b></li>
                <li>Sélectionnez votre extension en <b>.xpi</b> et ouvrez là.</li>
                <li><b>Votre extension est installée mais temporairement.</b></li>
            </ol> 

            <h2 id="use-mozilla-firefox-nightly-or-developer">Vous utilisez Mozilla Firefox Developer Edition / Nightly</h2>
            
            <p>Suivez juste ces étapes :</p>
            <ol>
                <li>Dans la barre d'adresse, entrez <b>about:config</b> pour rentrer dans les paramètres avancés de Mozilla Firefox</li>
                <li>Cliquez sur <b>"Je prends le risque"</b>. Nous allons changer une variable de configuration qui autorise l'installation d'extensions non signées.</li>
                <li>Cherchez <b>"xpinstall"</b></li>
                <li>Mettez <b>"xpinstall.signatures.required"</b> à <b>"True"</b> en double-cliquant dessus.</li>
                <li>Retournez sur foxify.org et téléchargez votre extension</li>
                <li>Firefox demande votre autorisation. Cliquez sur <b>"Autoriser"</b></li>
                <li><b>Votre extension est installée.</b></li>
            </ol>
        </div>
    </div>
    <a class="warning-msg-more" href="#">Afficher la solution</a>
</div>
    